code/Emp_Professional/Service Descriptors/Profession_Abstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.eniquesolutions.com/Profession_Abstract/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.example.org/Profession" name="Profession_Abstract" targetNamespace="http://www.eniquesolutions.com/Profession_Abstract/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.eniquesolutions.com/Profession_Abstract/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.example.org/Profession" schemaLocation="../Schemas/Emp_Professional/Profession.xsd">
    	</xsd:import>
    </xsd:schema>
  </wsdl:types>
  <wsdl:types>
  	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  		<xsd:import namespace="http://www.example.org/Profession"
  			schemaLocation="../Schemas/Emp_Professional/Profession.xsd">
  		</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="xsd1:Profession" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="xsd1:Emp_Professional_Res" name="parameters"/>
  </wsdl:message>
    <wsdl:portType name="Profession_Abstract">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
    </wsdl:portType>
  <wsdl:binding name="Profession_AbstractSOAP" type="tns:Profession_Abstract">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.eniquesolutions.com/Profession_Abstract/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Profession_Abstract">
    <wsdl:port binding="tns:Profession_AbstractSOAP" name="Profession_AbstractSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
